%html
  %head
    %title notmailto
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    %script{:type => 'text/javascript', :src => 'jquery-1.5.min.js'}
    %script{:type => 'text/javascript', :src => 'index.js'}
  %body
    %a{:href => 'mailto:ohac@twitte.r'} ohac@twitte.r
    %br
    %div#result
