%html
  %head
    %title notmailto
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    %script{:type => 'text/javascript', :src => 'jquery-1.5.min.js'}
    %script{:type => 'text/javascript', :src => 'notmailto.js'}
    %script{:type => 'text/javascript', :src => 'localrules.js'}
  %body
    %a{:href => 'mailto:ohac@twitte.r'} ohac@twitte.r
    %br
    %a{:href => 'mailto:35.680899-139.767294@ge.o'} 35.680899-139.767294@ge.o
    %br
    %a{:href => 'mailto:an@exampl.e'} an@exampl.e
    %br
    %div#result
